.header {
  width: 100%;
  padding: 18px 60px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  gap: 24px;
}

.icon {
  width: 50px;
  height: 50px;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 32px;
}

.userName {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--secondary-black);
}
