.sidebar {
  min-width: 264px;
  padding: 24px 28px 67px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 56px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  background: var(--body-background);
  min-height: 800px;
}

.companyInfo {
  display: flex;
  align-items: center;
  gap: 16px;

  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: var(--secondary-black);
}

.icon {
  width: 42px;
  height: 42px;
}
