.white {
  color: var(--white);
}

.black {
  color: var(--black);
}

.l {
  font-weight: 500;
  font-size: 24px;
  line-height: 167%;
}

.xl {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 117%;
  color: var(--secondary-black);
}
