.card {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.08), 0 2px 1px 0 rgba(0, 0, 0, 0.06),
    0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: var(--body-background);
  border-radius: 12px 0 0 0;
  padding: 48px;
}
