.productCard {
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.info {
  display: flex;
  flex-direction: column;
}

.info > span {
  color: #969696;
}

.delete {
  max-width: 100px;
}

.actions {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
